/* Para nuestras fuentes */
// google font Pacifico

/* media queries*/
$movil: 480px; // 560px
$tablet: 768px;
$desktop: 1024px;


/* Colores */
$primary: #E8505B;
$secondary: #455A64;
$white: #FFF;
$grey-light: #ECEEEF;

/* Unidades */
$separation: 5rem;